/* ============================
Theme Name: Performance Tracker
Version: 1.4
Description: Performance Tracker V2
Author: Edwin
First Update: 10/12/2021
Last Update: 07/03/2022
License: GNU General Public License v2 or later
============================*/

/* ============================
# VARIABLES
============================*/
:root {
	--font: 'Inter',sans-serif;
	--brand-color: #E30613;
	--color: #000000;

	--dropdown-hover-color: #E8E8E8;
	--dropdown-hover-bg: #484848;

	--table-data-status-success: #ACF292;
	--table-data-status-warning: #F8E67E;
	--table-data-status-danger: #DD7B3E;

	--table-checkbox-color: #45B441;

	--data-status-success:#ACF292;
	--data-status-danger:#FDB9B4;
}

/* ============================
# RESET STYLES
============================*/
html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--font);
	font-size: 14px;
	font-weight: 400;
	color: var(--color);
}
button,
a { display: inline-block; }
a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
button,
button:hover,
button:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6 { font-weight: 700; }
p { font-weight: 400; }
img { 
	max-width: 100%; 
	height: auto;
}


/* ============================
# BOOTSTRAP / USER RESET
============================*/
.btn { font-size: 14px; }
button:focus,
.btn:focus { box-shadow: none; }
.form-control { height: auto; }
.form-control:focus { box-shadow: none; }
.ul-unstyle {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* ============================
# UTILITIES
============================*/
/* -----[FONT SIZE]----- */
.fz-16 { font-size: 16px!important; }
.fz-14 { font-size: 14px!important; }
.fz-12 { font-size: 12px!important; }

/* -----[FONT WEIGHT]----- */
.fw-medium { font-weight: 500!important; }
.fw-semi-bold { font-weight: 600!important; }


/* ============================
# ELEMENTS
============================*/
/* =====[BUTTONS]===== */
.btn-send-mail {
	color: #FFFFFF;
	background: var(--color);
	padding: 4px 6px;
	white-space: nowrap;
}
.btn-send-mail svg {
	width: 14px;
	height: 14px;
	margin-right: 5px;
}
.btn-send-mail:hover {
	color: #FFFFFF;
	background: var(--brand-color);
}

.btn-view {
	color: var(--color);
	width: 30px;
	height: 30px;
	background: #E3E3E3;
}
.btn-view svg {
	width: 18px;
	height: 18px;
}
.btn-view:hover {
	color: #FFFFFF;
	background: var(--brand-color);
}

.btn-check-label {
	color: var(--color);
	background: #E3E3E3;
	border-color: #E3E3E3;
	padding: 10px 16px;
}
.btn-check-label:hover {
	color: var(--color);
	background: #D3D3D3;
	border-color: #D3D3D3;
}
.btn-check:active + .btn-check-label,
.btn-check:checked + .btn-check-label,
.btn-check-label.active,
.btn-check-label:active {
	color: #FFFFFF;
	background-color: var(--brand-color);
	border-color: var(--brand-color);
}
.btn-check-label:focus { box-shadow: none; }

/* -----[BUTTONS MODALS]----- */
.btn-modal-downloads,
.btn-modal-options {
	color: var(--color);
	background: #EBEBEB;
	padding: 10px 16px;
}
.btn-modal-downloads:hover,
.btn-modal-options:hover {
	color: #FFFFFF;
	background: var(--brand-color);
}
.btn-modal {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 110px;
	padding: 8px 14px;
}
.btn-modal svg {
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.btn-modal.btn-light { background: #EFEFEF; }
.btn-modal.btn-danger { background: var(--brand-color); }
.btn-modal.btn-danger:hover,
.btn-modal.btn-danger:focus {
	border-color: var(--brand-color);
}

/* -----[FLOATING BUTTONS]----- */
.btn-float-main,
.btn-float-add {
	color: #FFFFFF;
	flex: 0 0 auto;
	position: relative;
	transition: all .30s ease-in-out;
}
.btn-float-main {
	background: var(--brand-color);
	width: 56px;
	height: 56px;
}
.btn-float-main:hover {
	background: var(--brand-color);
	box-shadow: 0px 0px 0px 6px #E306132E;
}
.btn-float-add {
	background: #505050;
	width: 50px;
	height: 50px;
}
.btn-float-main:hover,
.btn-float-add:hover {
	color: #FFFFFF;
}
.floating-button-container {
	right: 20px;
	bottom: 30px;
}
.floating-button-container .floating-button-panel .floating-button-group {
	bottom: 62px;
	opacity: 0;
	transform: scale(0) translateY(40px);
	transition: all .3s ease-in-out;
	z-index: 10;
}
.floating-button-container .floating-button-panel .floating-button-group .btn {
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	white-space: nowrap;
	margin: 5px 0;
	transform: scale(0);
	opacity: 0;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
.floating-button-container .floating-button-panel .floating-button-group .btn:nth-child(1) {
	background: var(--brand-color);
	transition-duration: 0.45s;
}
.floating-button-container .floating-button-panel .floating-button-group .btn:nth-child(2) {
	background: #505050;
	transition-duration: 0.40s;
}
.floating-button-container .floating-button-panel .floating-button-group.open {
	opacity: 1;
	transform: scale(1) translateY(0);
}
.floating-button-container .floating-button-panel .floating-button-group.open .btn {
	transform: scale(1);
	opacity: 1;
}

/* =====[FORMS]===== */
.form-group { margin-bottom: 18px; }
.form-group label { margin-bottom: 6px; }
.form-group .form-control {
	font-size: 14px;
	color: var(--color);
	padding: 8px 16px;
	border-color: #C7C7C7;
}
.form-group .form-control[type="file"] {
	padding: 8px 14px;
	height: 39px;
}
.form-group .form-control:focus {
	border-color: #383838;
	box-shadow: 0 0 0 .25rem rgba(000, 000, 000, .15);
}

/* =====[WYSIWYG]===== */
.trumbowyg-editor,
.trumbowyg-textarea {
	padding: 16px 16px;
	min-height: 200px;
}
.trumbowyg-box {
	border: 1px solid #C7C7C7;
	border-radius: .25rem;
	min-height: 200px;
}


/* ============================
# HEADER
============================*/





/* ============================
# ASIDE MENUBAR
============================*/

/* =====[DASHBOARD ASIDE]===== */
.dashboard-aside {
	background: #F8F8F8;
	border-right-color: #E5E5E5!important;
	width: 220px;
	z-index: 100;
	transition: all .20s ease-in-out;
}
.brand {
	height: 50px;
	border-bottom-color: #E5E5E5!important;
}
.brand img { max-width: 110px; }

/* -----[DASHBOARD MAIN MENU]----- */
.menubar { height: calc(100% - 50px); }
.dashboard-menu { margin: 0; }
.dashboard-menu .menu-item .menu-link {
	font-size: 14px;
	font-weight: 500;
	color: var(--color);
	position: relative;
}
.dashboard-menu > .menu-item > .menu-link {
	display: flex;
	align-items: center;
	padding: 8px 16px 8px 46px;
}
.dashboard-menu > .menu-item > .menu-link:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 18px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px
}
.dashboard-menu .menu-item.current-menu-item .menu-link,
.dashboard-menu .menu-item:hover .menu-link { color: var(--brand-color); }
.dashboard-menu .menu-item .menu-link svg {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}
.dashboard-menu .menu-item-search .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-dashboard .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trello'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Crect x='7' y='7' width='3' height='9'%3E%3C/rect%3E%3Crect x='14' y='7' width='3' height='5'%3E%3C/rect%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-onboarding .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-package'%3E%3Cline x1='16.5' y1='9.4' x2='7.5' y2='4.21'%3E%3C/line%3E%3Cpath d='M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z'%3E%3C/path%3E%3Cpolyline points='3.27 6.96 12 12.01 20.73 6.96'%3E%3C/polyline%3E%3Cline x1='12' y1='22.08' x2='12' y2='12'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-research .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-target'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='6'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='2'%3E%3C/circle%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-measure .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-pie-chart'%3E%3Cpath d='M21.21 15.89A10 10 0 1 1 8 2.83'%3E%3C/path%3E%3Cpath d='M22 12A10 10 0 0 0 12 2v10z'%3E%3C/path%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-execution .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-zap'%3E%3Cpolygon points='13 2 3 14 12 14 11 22 21 10 12 10 13 2'%3E%3C/polygon%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-optimisation .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-bar-chart'%3E%3Cline x1='12' y1='20' x2='12' y2='10'%3E%3C/line%3E%3Cline x1='18' y1='20' x2='18' y2='4'%3E%3C/line%3E%3Cline x1='6' y1='20' x2='6' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-sops .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-layers'%3E%3Cpolygon points='12 2 2 7 12 12 22 7 12 2'%3E%3C/polygon%3E%3Cpolyline points='2 17 12 22 22 17'%3E%3C/polyline%3E%3Cpolyline points='2 12 12 17 22 12'%3E%3C/polyline%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-settings .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sliders'%3E%3Cline x1='4' y1='21' x2='4' y2='14'%3E%3C/line%3E%3Cline x1='4' y1='10' x2='4' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='20' y1='21' x2='20' y2='16'%3E%3C/line%3E%3Cline x1='20' y1='12' x2='20' y2='3'%3E%3C/line%3E%3Cline x1='1' y1='14' x2='7' y2='14'%3E%3C/line%3E%3Cline x1='9' y1='8' x2='15' y2='8'%3E%3C/line%3E%3Cline x1='17' y1='16' x2='23' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-logout .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-power'%3E%3Cpath d='M18.36 6.64a9 9 0 1 1-12.73 0'%3E%3C/path%3E%3Cline x1='12' y1='2' x2='12' y2='12'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-search:hover .menu-link:before,
.dashboard-menu .menu-item-search.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-dashboard:hover .menu-link:before,
.dashboard-menu .menu-item-dashboard.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trello'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Crect x='7' y='7' width='3' height='9'%3E%3C/rect%3E%3Crect x='14' y='7' width='3' height='5'%3E%3C/rect%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-onboarding:hover .menu-link:before,
.dashboard-menu .menu-item-onboarding.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-package'%3E%3Cline x1='16.5' y1='9.4' x2='7.5' y2='4.21'%3E%3C/line%3E%3Cpath d='M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z'%3E%3C/path%3E%3Cpolyline points='3.27 6.96 12 12.01 20.73 6.96'%3E%3C/polyline%3E%3Cline x1='12' y1='22.08' x2='12' y2='12'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-research:hover .menu-link:before,
.dashboard-menu .menu-item-research.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-target'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='6'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='2'%3E%3C/circle%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-measure:hover .menu-link:before,
.dashboard-menu .menu-item-measure.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-pie-chart'%3E%3Cpath d='M21.21 15.89A10 10 0 1 1 8 2.83'%3E%3C/path%3E%3Cpath d='M22 12A10 10 0 0 0 12 2v10z'%3E%3C/path%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-execution:hover .menu-link:before,
.dashboard-menu .menu-item-execution.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-zap'%3E%3Cpolygon points='13 2 3 14 12 14 11 22 21 10 12 10 13 2'%3E%3C/polygon%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-optimisation:hover .menu-link:before,
.dashboard-menu .menu-item-optimisation.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-bar-chart'%3E%3Cline x1='12' y1='20' x2='12' y2='10'%3E%3C/line%3E%3Cline x1='18' y1='20' x2='18' y2='4'%3E%3C/line%3E%3Cline x1='6' y1='20' x2='6' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-sops:hover .menu-link:before,
.dashboard-menu .menu-item-sops.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-layers'%3E%3Cpolygon points='12 2 2 7 12 12 22 7 12 2'%3E%3C/polygon%3E%3Cpolyline points='2 17 12 22 22 17'%3E%3C/polyline%3E%3Cpolyline points='2 12 12 17 22 12'%3E%3C/polyline%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-settings:hover .menu-link:before,
.dashboard-menu .menu-item-settings.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sliders'%3E%3Cline x1='4' y1='21' x2='4' y2='14'%3E%3C/line%3E%3Cline x1='4' y1='10' x2='4' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='20' y1='21' x2='20' y2='16'%3E%3C/line%3E%3Cline x1='20' y1='12' x2='20' y2='3'%3E%3C/line%3E%3Cline x1='1' y1='14' x2='7' y2='14'%3E%3C/line%3E%3Cline x1='9' y1='8' x2='15' y2='8'%3E%3C/line%3E%3Cline x1='17' y1='16' x2='23' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
.dashboard-menu .menu-item-logout:hover .menu-link:before,
.dashboard-menu .menu-item-logout.current-menu-item .menu-link:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-power'%3E%3Cpath d='M18.36 6.64a9 9 0 1 1-12.73 0'%3E%3C/path%3E%3Cline x1='12' y1='2' x2='12' y2='12'%3E%3C/line%3E%3C/svg%3E");
}

/* =====[DASHBOARD ICON]===== */
[class*="d-icon"] {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px
}
.d-icon-search {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
}
.d-icon-dashboard {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trello'%3E%3Crect x='3' y='3' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Crect x='7' y='7' width='3' height='9'%3E%3C/rect%3E%3Crect x='14' y='7' width='3' height='5'%3E%3C/rect%3E%3C/svg%3E");
}
.d-icon-onboarding {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-package'%3E%3Cline x1='16.5' y1='9.4' x2='7.5' y2='4.21'%3E%3C/line%3E%3Cpath d='M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z'%3E%3C/path%3E%3Cpolyline points='3.27 6.96 12 12.01 20.73 6.96'%3E%3C/polyline%3E%3Cline x1='12' y1='22.08' x2='12' y2='12'%3E%3C/line%3E%3C/svg%3E");
}
.d-icon-research {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-target'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='6'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='2'%3E%3C/circle%3E%3C/svg%3E");
}
.d-icon-measure {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-pie-chart'%3E%3Cpath d='M21.21 15.89A10 10 0 1 1 8 2.83'%3E%3C/path%3E%3Cpath d='M22 12A10 10 0 0 0 12 2v10z'%3E%3C/path%3E%3C/svg%3E");
}
.d-icon-execution {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-zap'%3E%3Cpolygon points='13 2 3 14 12 14 11 22 21 10 12 10 13 2'%3E%3C/polygon%3E%3C/svg%3E");
}
.d-icon-optimisation {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-bar-chart'%3E%3Cline x1='12' y1='20' x2='12' y2='10'%3E%3C/line%3E%3Cline x1='18' y1='20' x2='18' y2='4'%3E%3C/line%3E%3Cline x1='6' y1='20' x2='6' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
.d-icon-sops {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-layers'%3E%3Cpolygon points='12 2 2 7 12 12 22 7 12 2'%3E%3C/polygon%3E%3Cpolyline points='2 17 12 22 22 17'%3E%3C/polyline%3E%3Cpolyline points='2 12 12 17 22 12'%3E%3C/polyline%3E%3C/svg%3E");
}
.d-icon-settings {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sliders'%3E%3Cline x1='4' y1='21' x2='4' y2='14'%3E%3C/line%3E%3Cline x1='4' y1='10' x2='4' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='8' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='20' y1='21' x2='20' y2='16'%3E%3C/line%3E%3Cline x1='20' y1='12' x2='20' y2='3'%3E%3C/line%3E%3Cline x1='1' y1='14' x2='7' y2='14'%3E%3C/line%3E%3Cline x1='9' y1='8' x2='15' y2='8'%3E%3C/line%3E%3Cline x1='17' y1='16' x2='23' y2='16'%3E%3C/line%3E%3C/svg%3E");
}
.d-logout {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-power'%3E%3Cpath d='M18.36 6.64a9 9 0 1 1-12.73 0'%3E%3C/path%3E%3Cline x1='12' y1='2' x2='12' y2='12'%3E%3C/line%3E%3C/svg%3E");
}

@media (max-width: 1199px) {
	.dashboard-aside {
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
		transform: translateX(-100%);
		opacity: 0;
	}
	.dashboard-aside.open {
		transform: translateX(0);
		opacity: 1;
	}
}

/* -----[DASHBOARD HEADER]----- */
.dashboard-header {
	min-height: 50px;
	border-bottom: 1px solid #E5E5E5;
	background: #FAFAFA;
	padding: 0 20px;
}
.dashboard-header-title {
	font-size: 15px;
	font-weight: 500;
}
.dropdown-header-options .dropdown-toggle {
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	background: var(--brand-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 10px;
	width: 110px;
	transition: all .20s ease-in-out;
}
.dropdown-header-options .dropdown-toggle:after { display: none; }
.dropdown-header-options .dropdown-toggle svg {
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-right: 6px;
}
.dropdown-header-options .dropdown-menu {
	padding: 4px 0 4px 0;
	width: 110px;
	border: 0;
	border-radius: 0px 0px 4px 4px;
	transition: all .20s ease-in-out;
}
.dropdown-header-options .dropdown-menu:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #FFFFFF;
	transition: all .30s ease-in-out;
	z-index: 10;
}
.dropdown-header-options .dropdown-menu li { padding: 0 5px 5px 5px; }
.dropdown-header-options .dropdown-menu li .dropdown-item {
	font-size: 14px;
	font-weight: 500;
	background: #D1D1D1;
	border-radius: 4px;
}
.dropdown-header-options .dropdown-menu li:hover .dropdown-item {
	color: #FFFFFF;
	background: var(--brand-color);
}
.dropdown-header-options .dropdown-toggle.show {
	color: var(--color);
	width: 190px;
	justify-content: flex-start;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
	border-radius: 4px 4px 0px 0px;
}
.dropdown-header-options .dropdown-menu.show {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
	width: 190px;
}
.btn-header-notification {
	padding: 4px 6px;
	margin-left: 15px;
}
.btn-header-notification svg {
	width: 20px;
	height: 20px;
}
.btn-header-notification .badge {
	font-size: 8px;
	background: var(--brand-color);
	padding: 1px;
	width: 14px;
	height: 14px;
	line-height: 12px;
}
.btn-aside-open {
	width: 25px;
	height: 20px;
	margin: 0 0 0 30px;
	padding: 0;
	position: relative;
	display: none;
}
.btn-aside-open span {
	background-color: var(--color);
	position: absolute;
	border-radius: 2px;
	transition: .3s cubic-bezier(.8, .5, .2, 1.4);
	width: 100%;
	height: 2px;
	transition-duration: 500ms
}
.btn-aside-open span:nth-child(1) {
	top: 0px;
	left: 0px;
}
.btn-aside-open span:nth-child(2) {
	top: 8px;
	left: 0px;
	opacity: 1;
}
.btn-aside-open span:nth-child(3) {
	bottom: 0px;
	left: 0px;
}
.btn-aside-open.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 8px;
}
.btn-aside-open.open span:nth-child(2) { opacity: 0; }
.btn-aside-open.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 8px;
}
.btn-header-item-add {
	font-size: 14px;
	color: #FFFFFF;
	padding: 4px 10px 6px 10px;
	background: var(--brand-color);
}
.btn-header-item-add svg {
	width: 18px;
	height: 18px;
	margin-right: 6px;
}
.btn-header-item-add:hover {
	color: #FFFFFF;
	background: #BA000B;
}

@media (max-width: 1199px) {
	.btn-aside-open { display: inline-block; }
}


/*=====[DASHBOARD MAIN]=====*/
.dashboard-main {
	width: calc(100% - 220px);
	margin-left: auto;
	height: 100vh;
	transition: all .20s ease-in-out;
}

@media (max-width: 1199px) {
	.dashboard-main {
		width: 100%;
	}
}



/* ============================
# HOME PAGE
============================*/
.dashboard-container { background: #FAFAFA; }

/* -----[MAIN CONTENT]----- */
.main-content-panel { 
	border-color:#E5E5E5!important; 
	height: calc(100vh - 50px);
}
.mcp-aside {
	width: 230px;
	flex: 0 0 230px;
}
.mcp-main { 
	width: 100%;
	max-width: calc(100% - 230px);
	padding: 20px 30px 20px 30px; 
	overflow-y: auto;
}
.mcp-main-inner {
	height: 100%;
	overflow-x: auto;
	-ms-overflow-style: none;
	   scrollbar-width: none;
}
.mcp-main-inner::-webkit-scrollbar { display: none; }
.main-content-panel.mcp-hero-active .mcp-main-inner { padding: 10px 0 115px; }

@media (max-width: 1399px) {
	.mcp-main { padding: 20px 25px 20px 25px; }
}

/* -----[MAIN CONTENT ASIDE]----- */
.mcp-aside-search {
	padding: 6px 6px;
	border-right-color: #E5E5E5!important;
}
.mcp-aside-search .mcp-aside-search-icon {
	left: 16px;
	transform: translateY(-50%);
}
.mcp-aside-search .mcp-aside-search-input {
	font-size: 12px;
	color: var(--color);
	background: #EFEFEF;
	height: 36px;
	padding-left: 35px;
}
.mcp-aside-search .mcp-aside-search-input::-webkit-input-placeholder { color: var(--color); }
.mcp-aside-search .mcp-aside-search-input::-moz-placeholder { color: var(--color); }
.mcp-aside-search .mcp-aside-search-input:-ms-input-placeholder { color: var(--color); }
.mcp-aside-search .mcp-aside-search-input:-moz-placeholder { color: var(--color); }
.mcp-aside-search .mcp-aside-search-icon svg {
	width: 16px;
	height: 16px;
}

/* -----[DATA TRAY]----- */
.data-table-top-tray {
	top: 50px;
	left: 450px;
	width: calc(100% - 450px);
	background: #000000;
	padding: 15px 30px;
	transform: rotateX(90deg);
	transform-origin: top center;
	opacity: 0;
	transition: all .30s ease-in-out;
	z-index: 100;
}
.data-table-top-tray.is-visible {
	transform: rotateX(0);
	opacity: 1;
}
.data-table-tray-label {
	color: #FFFFFF;
	margin-right: 20px;
}
.data-table-tray-menu .menu-item { margin-right: 20px; }
.data-table-tray-menu .menu-item .menu-link {
	color: #FFFFFF;
	display: flex;
	align-items: center;
	padding: 2px 6px;
	border-radius: 3px;
	border: 0;
	background: transparent;
}
.data-table-tray-menu .menu-item .menu-link svg {
	width: 16px;
	height: 16px;
	margin-right: 6px;
}
.data-table-tray-menu .menu-item:hover .menu-link,
.data-table-tray-menu .menu-item.current-menu-item .menu-link {
	color: #FFFFFF;
	background: var(--brand-color);
}
.btn-data-table-close {
	color: #FFFFFF;
	padding: 2px;
}
.btn-data-table-close svg {
	width: 16px;
	height: 16px;
}
.btn-data-table-close:hover {
	color: #FFFFFF;
	background: var(--brand-color);
}

@media (max-width: 1399px) {
	.data-table-top-tray { padding: 12px 25px; }
}
@media (max-width: 1199px) {
	.data-table-top-tray {
		top: 50px;
		left: 230px;
		width: calc(100% - 230px);
	}
}

/* -----[DATA FILTERS]----- */
.data-filter-wrapper { padding: 12px 0; }
.data-filter-menu {
	padding-bottom: 5px;
	padding-top: 5px;
}
.data-filter-menu .menu-item:not(:last-child) { margin-right: 25px; }
.data-filter-menu .menu-item a {
	font-size: 14px;
	font-weight: 500;
	color: #9D9D9D;
	padding: 5px 0 4px 0;
	border-bottom: 3px solid transparent;
}
.data-filter-menu .menu-item.current-menu-item a,
.data-filter-menu .menu-item:hover a {
	color: var(--color);
	border-bottom-color: var(--brand-color);
}

/* -----[DATA FILTER DROPDOWN]----- */
.data-filter-dropdowns { 
	padding-top: 5px;
	padding-bottom: 5px;
}
.data-filter-dropdown {
	display: inline-block;
	min-width: 170px;
}
.data-filter-dropdown > .dropdown-toggle {
	font-size: 13px;
	font-weight: 500;
	border-radius: 0;
	border-radius: 4px 4px 0px 0px;
	padding: 4px 10px 4px 34px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all .30s ease-in-out;
}
.data-filter-dropdown > .dropdown-toggle:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-list'%3E%3Cline x1='8' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='8' y1='18' x2='21' y2='18'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='3.01' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='12' x2='3.01' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='3.01' y2='18'%3E%3C/line%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
}
.data-filter-dropdown > .dropdown-toggle::after {
	margin-left: 10px;
	vertical-align: .14em;
	border-top: .45em solid;
	border-right: .4em solid transparent;
	border-bottom: 0;
	border-left: .4em solid transparent;
}
.data-filter-dropdown .dropdown-menu {
	border: 0;
	border-radius: 0;
	width: 100%;
	min-width: auto;
	border-radius: 0px 0px 4px 4px;
	padding-top: 2px;
}
.data-filter-dropdown .dropdown-menu:before {
	content: '';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #FFFFFF;
	transition: all .30s ease-in-out;
	z-index: 10;
}
.data-filter-dropdown .dropdown-menu li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.data-filter-dropdown .dropdown-menu li a {
	font-size: 13px;
	font-weight: 500;
	padding-left: 34px;
	width: auto;
}
.data-filter-dropdown .dropdown-menu .dropdown-item:focus,
.data-filter-dropdown .dropdown-menu .dropdown-item:hover {
	color: var(--brand-color);
	background-color: transparent;
}
.data-filter-dropdown .dropdown-menu li .dropdown-item-delete {
	color: #6E6E6E;
	padding: 1px;
	border-radius: 0;
	line-height: 1;
	margin-right: 8px;
}
.data-filter-dropdown .dropdown-menu li .dropdown-item-delete svg {
	width: 14px;
	height: 14px;
}
.data-filter-dropdown .dropdown-menu li .dropdown-item-delete:hover { color: var(--brand-color); }
.data-filter-dropdown .dropdown-toggle.show {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.data-filter-dropdown .dropdown-menu.show {
	background: #FFFFFF;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.dfd-date .dropdown-menu { padding-bottom: 14px; }
.dfd-date .dropdown-menu li { padding: 0 10px; }
.dfd-date .dropdown-menu li label {
	font-size: 12px;
	font-weight: 500;
}
.dfd-date .dropdown-menu li .form-control {
	font-size: 12px;
	padding: 2px 2px 2px 28px;
	background-color: #F5F5F5;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E30613' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-calendar'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
	background-position: left 8px center;
	background-size: 14px;
	background-repeat: no-repeat;
	border-radius: 2px;
}

/* -----[DATA SCROLL LIST]----- */
.data-scroll-list {
	padding: 0 0 50px 0;
	overflow-x: auto;
	-ms-overflow-style: none;
	   scrollbar-width: none;
}
.data-scroll-list::-webkit-scrollbar { display: none; }
.data-scroll-list > li {
	border-bottom: 1px solid #E5E5E5;
	background: #F2F2F2;
}
.data-scroll-list > li > a {
	padding: 10px 12px;
	border-right-color: #E5E5E5!important;
}
.data-scroll-list > li > a:hover,
.data-scroll-list > li.active > a {
	background: #FFFFFF;
	border-right-color: #FFFFFF!important;
}
.data-scroll-list .data-scroll-first a { min-height: 56px; }
.data-scroll-list .dsl-icon {
	width: 32px;
	height: 32px;
	flex: 0 0 32px;
	background: #F2F2F2;
	border-radius: 4px;
	padding: 2px;
}
.data-scroll-list .dsl-icon.dsl-media img { max-width: 20px; }
.data-scroll-list .dsl-icon.dsl-letters {
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	background: var(--brand-color);
	text-transform: uppercase;
	letter-spacing: 1px;
}
.data-scroll-list .dsl-content { padding-left: 14px; }
.data-scroll-list .dsl-content .dsl-title {
	font-size: 14px;
	font-weight: 500;
	color: var(--color);
	line-height: 1.3;
}
.data-scroll-list .dsl-content .dsl-text {
	font-size: 12px;
	color: #8B8B8B;
}
.ds-hero { padding: 25px 0 0 0; }
.ds-hero-panel { margin-bottom: 15px; }
.ds-hero-icon {
	width: 32px;
	height: 32px;
	flex: 0 0 32px;
	padding: 2px;
}
.ds-hero-icon.dshi-media { background: #EFEFEF; }
.ds-hero-icon.dshi-media img { max-width: 20px; }
.ds-hero-icon.dshi-letter {
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	background: var(--brand-color);
	text-transform: uppercase;
}
.ds-hero-content .title { font-size: 14px; }
.ds-hero-content .title-min { font-size: 12px; }
.ds-hero-options { border-bottom: 1px solid #E5E5E5; }
.ds-hero-menu { margin-bottom: 0; }
.ds-hero-menu .menu-item { margin-right: 40px; }
.ds-hero-menu .menu-item a {
	font-size: 14px;
	font-weight: 500;
	color: var(--color);
	border-bottom: 2px solid transparent;
	padding: 6px 0 4px 0;
}
.ds-hero-menu .menu-item.current-menu-item a ,
.ds-hero-menu .menu-item:hover a {
	border-bottom-color: var(--brand-color);
}

@media (max-width: 1399px) {
	.ds-hero-menu .menu-item { margin-right: 20px; }
}

/* ============================
# DATA TABLE
============================*/
.data-table-df > li { border-bottom-color: #E5E5E5!important; }
.data-table-df > li > a {
	color: var(--color);
	padding: 10px 0;
}
.data-table-df .data-table-icon {
	width: 28px;
	height: 28px;
	flex: 0 0 28px;
	background: #EFEFEF;
	border-radius: 4px;
	position: relative;
	top: 4px;
}
.data-table-df .data-table-icon.dti-media img { max-width: 16px; }
.data-table-df .data-table-icon.dti-text {
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	background: var(--brand-color);
}
.data-table-df .data-table-content { padding-left: 18px; }
.data-table-df .title {
	font-size: 14px;
	font-weight: 500;
}
.data-table-df .title small { font-size: 12px; }
.data-table-df .text { font-size: 12px; }
.data-table-df .text .badge {
	font-size: 9px;
	color: #8E8E8E;
	background: #EFEFEF;
}


/* =====[TABLE DATA]===== */
.table-data-responsive {
	min-height: 260px;
	overflow: auto;
	overflow-x: auto;
	margin-bottom: 20px;
}
.table-data { background: #FFFFFF; }
.table-data > :not(caption) > * > * { padding: .7rem .5rem; }
.table-data thead th {
	font-size: 12px;
	font-weight: 400;
	color: #7E7E7E;
	line-height: 1.2;
	padding: 0;
}
.table-data > :not(:first-child) { border-top: 0; }
.table-data th,
.table-data td {
	vertical-align: middle;
}
.table-data.table-bordered tr td { border-width: 0 0; }
.table-data.table-bordered tr td:first-child { border-width: 0 0 0 1px; }
.table-data.table-bordered tr td:last-child { border-width: 0 1px 0 0; }
.table-data th.col-dates,
.table-data td.col-dates {
	width: 150px;
}

.table-data .tr-data-deleted td {
	position: relative;
	opacity: 0.3;
	-webkit-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
.table-data .tr-data-deleted td::before {
	content: '';
	width: 100%;
	height: 1px;
	background: #585858;
	position: absolute;
	top: 50%;
	left: 0;
}
.table-data .tr-data-deleted td:first-child:before,
.table-data .tr-data-deleted td:last-child:before {
	width: calc(100% - 20px);
}
.table-data .tr-data-deleted td:first-child:before {
	left: unset;
	right: 0;
}
.table-data .tr-data-deleted td:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .175);
	cursor: not-allowed;
	z-index: 10;
}
.table-data .tr-data-deleted td .td-checkbox-box { opacity: 0; }
.table-data.table-data-ptracker { min-width: 1200px; }
.table-data th.col-pt-clients,
.table-data td.col-pt-clients {
	max-width: 420px;
	min-width: 280px;
}
.table-data th.col-pt-default,
.table-data td.col-pt-default {
	min-width: 105px;
}
.td-checkbox-box {  margin-right: 15px;  }
.td-checkbox {
	width: 16px;
	height: 16px;
}
.td-checkbox[type="checkbox"] { 
	border-radius: 50%; 
	cursor: pointer;
}
.td-checkbox:checked {
	background-color: var(--table-checkbox-color);
	border-color: var(--table-checkbox-color);
}
.td-checkbox[type="checkbox"]:focus {
	border-color: var(--table-checkbox-color);
	box-shadow: none;
}
.td-checkbox[type="checkbox"]:active { filter: brightness(100%); }
.td-icon-box {
	width: 32px;
	height: 32px;
	flex: 0 0 auto;
	background: #EFEFEF;
	margin-right: 15px
}
.td-icon-box.tib-media img {
	width: 100%;
	max-width: 20px;
}
.td-icon-box.tib-letter {
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	background: var(--brand-color);
}
.td-title { font-size: 14px; }
.td-text { font-size: 12px; }
.td-status-bar {
	width: 100%;
	max-width: 72px;
	min-width: 50px;
	height: 8px;
	border-radius: 4px;
	display: inline-block;
}
.td-status-bar.td-status-bar-success { background: var(--table-data-status-success); }
.td-status-bar.td-status-bar-warning { background: var(--table-data-status-warning); }
.td-status-bar.td-status-bar-danger { background: var(--table-data-status-danger); }
.table-data .th-data-dropdown .btn,
.table-data th .span-box {
	font-size: 12px;
	font-weight: 400;
	color: #7E7E7E;
	line-height: 1.2;
	text-align: left;
	padding: .5rem .5rem;
	white-space: normal;
}
.table-data .th-data-dropdown .btn:after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-code'%3E%3Cpolyline points='16 18 22 12 16 6'%3E%3C/polyline%3E%3Cpolyline points='8 6 2 12 8 18'%3E%3C/polyline%3E%3C/svg%3E");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 10px;
	height: 10px;
	border: 0;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: rotate(90deg) translateX(-50%);
	opacity: 0.7;
}
.table-data .th-data-dropdown .btn.dropdown-toggle { padding-right: 1.5rem; }
.table-data .th-data-dropdown .dropdown-menu li .dropdown-item {
	font-size: 12px;
	padding: .3rem 1rem;
}
.table-data .th-data-dropdown .dropdown-menu li .dropdown-item:focus,
.table-data .th-data-dropdown .dropdown-menu li .dropdown-item:hover {
	color: var(--dropdown-hover-color);
	background-color: var(--dropdown-hover-bg);
}
.table-data .th-data-dropdown .dropdown-menu li .dropdown-item.active,
.table-data .th-data-dropdown .dropdown-menu li .dropdown-item:active {
	background-color: var(--brand-color);
}
.td-form-group .form-control {
	font-size: 12px;
	padding: 5px 5px;
	cursor: pointer;
}

.table-data-research {}

.table-data.table-data-research th.col-pt-clients,
.table-data.table-data-research td.col-pt-clients {
	max-width: 420px;
	min-width: 420px;
}


/* -----[DROPDOWN DATA]----- */
.dropdown-data-status {
	position: relative;
	padding-right: 20px;
}
.dropdown-data-status .dropdown-toggle {
	font-size: 12px;
	border-radius: 0;
	padding: 3px 5px;
}
.dropdown-data-status .dropdown-toggle:after { display: none; }
.dropdown-data-status .dropdown-data-text-muted {
	display: inline-block;
	color: #B5B5B5;
}
.dropdown-data-status .dropdown-data-text-active { display: none; }
.dropdown-data-status .dropdown-data-text-active.dropdown-data-text-active-danger {
	color: var(--brand-color);
}
.dropdown-data-status .close {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;
	border-radius: 4px;
}
.dropdown-data-status .close:hover {
	background-color: var(--dropdown-hover-bg);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFFFFF' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}
.dropdown-data-status .dropdown-menu {
	min-width: auto;
	padding: 3px 5px 5px 5px;
	box-shadow: 0px 3px 6px #00000043;
	border-radius: 4px;
	border: 0;
}
.dropdown-data-status .dropdown-menu li:not(:last-child) { margin-bottom: 3px; }
.dropdown-data-status .dropdown-menu li .dropdown-item {
	font-size: 12px;
	color: var(--color);
	display: inline-block;
	padding: .3rem 1rem;
	width: auto;
	padding: 2px 10px;
	border-radius: 4px;
}
.dropdown-data-status .dropdown-menu li .dropdown-item.active,
.dropdown-data-status .dropdown-menu li .dropdown-item:active {
	color: var(--color);
}
.dropdown-data-status .dropdown-menu li .dropdown-item-data-success { background: var(--data-status-success); }
.dropdown-data-status .dropdown-menu li .dropdown-item-data-danger { background: var(--data-status-danger); }
.dropdown-data-status .dropdown-menu li .dropdown-item-data-default {
	color: #FFFFFF;
	background: #000000;
}
.dropdown-data-status.active .dropdown-data-text-muted { display: none; }
.dropdown-data-status.active .dropdown-data-text-active {
	display: inline-flex;
	align-items: center;
}


/* =====[DATA MIN CARD]===== */
.data-min-card {
	width: 220px;
	flex: 0 0 220px;
	border-color: #E3E3E3!important;
	background: #FFFFFF;
	padding: 10px;
}
.data-min-card .data-min-card-icon-box {
	background: #EFEFEF;
	width: 35px;
	flex: 0 0 35px;
	height: 35px;
}
.data-min-card .data-min-card-icon-box img { width: auto!important; }
.data-min-card .data-min-card-icon-box.dmc-letters {
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	background: var(--brand-color);
	text-transform: uppercase;
}
.data-min-card .data-min-card-content { padding-left: 10px; }
.data-min-card .data-min-card-title { font-size: 14px; }
.data-min-card .data-min-card-title-min {
	font-size: 12px;
	color: #8B8B8B;
}
.data-min-card-carousel .owl-nav { display: none; }
.data-min-card-carousel .owl-dots { display: none; }

/* =====[PAGINATION]===== */
.pagination-alt .page-item + .page-item { margin-left: 5px; }
.pagination-alt .page-item .page-link {
	color: var(--color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	padding: 0;
	border-radius: .25rem;
}
.pagination-alt .page-item.active .page-link,
.pagination-alt .page-item .page-link:focus {
	color: #FFFFFF;
	background: var(--brand-color);
	border-color: var(--brand-color);
	box-shadow: none;
}

/* =====[OTHERS]===== */
.page-counter-no {
	font-size: 12px;
	margin-right: 10px;
}
.page-counter-nav .page-counter-prev,
.page-counter-nav .page-counter-next {
	color: var(--color);
	background: #EBEBEB;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-items: center;
}
.page-counter-nav .page-counter-prev { margin-right: 6px; }
.page-counter-nav .page-counter-prev svg,
.page-counter-nav .page-counter-next svg {
	width: 14px;
}
.page-counter-nav .page-counter-prev:hover,
.page-counter-nav .page-counter-next:hover {
	color: #FFFFFF;
	background: var(--brand-color);
}


/* ============================
# MODALS
============================*/
.modal .btn-close:focus { box-shadow: none; }

/* =====[MODAL DEFAULT]===== */
.modal-default .modal-header { padding: 30px 60px 10px 60px; }
.modal-default .modal-title { font-size: 24px; }
.modal-default .modal-body { padding: 20px 60px 30px 60px; }
.modal-default .modal-footer { padding: 30px 60px 30px 60px; }
.modal-default .modal-footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 60px;
	width: calc(100% - 120px);
	height: 1px;
	background: #EBEBEB;
}

@media (max-width: 991px) {
	.modal-default .modal-header { padding: 20px 30px 10px 30px; }
	.modal-default .modal-title { font-size: 20px; }
	.modal-default .modal-body { padding: 10px 30px 20px 30px; }
	.modal-default .modal-footer { padding: 20px 30px 20px 30px; }
	.modal-default .modal-footer::before {
		left: 30px;
		width: calc(100% - 60px);
	}
}
@media (max-width: 767px) {
	.modal-default .modal-header { padding: 20px 20px 10px 20px; }
	.modal-default .modal-title { font-size: 18px; }
	.modal-default .modal-body { padding: 10px 20px 20px 20px; }
	.modal-default .modal-footer { padding: 15px 20px 15px 20px; }
	.modal-default .modal-footer::before {
		left: 20px;
		width: calc(100% - 40px);
	}

}

/* =====[MODAL BUTTONS]===== */
.modal-buttons .modal-header { padding: 40px 50px 10px 50px; }
.modal-buttons .modal-title { font-size: 24px; }
.modal-buttons .modal-body { padding: 20px 50px 50px 50px; }
.modal-buttons .btn-modal-xxl {
	font-size: 15px;
	color: var(--color);
	background: #F2F2F2;
	height: 100px;
}
.modal-buttons .btn-modal-xxl:hover {
	color: #FFFFFF;
	background: var(--brand-color);
}
.modal-new-onboarding .form-group:not(.form-group-button) { margin-bottom: 16px; }

@media (min-width: 992px) {
	.modal-default .modal-lg,
	.modal-buttons .modal-lg {
		max-width: 820px;
	}
}
@media (max-width: 1199px) {
	.modal-buttons .modal-header { padding: 25px 40px 5px 40px; }
	.modal-buttons .modal-body { padding: 20px 40px 40px 40px; }
}
@media (max-width: 991px) {
	.modal-buttons .modal-header { padding: 20px 30px 5px 30px; }
	.modal-buttons .modal-title { font-size: 20px; }
	.modal-buttons .modal-body { padding: 10px 30px 30px 30px; }
	.modal-buttons .btn-modal-xxl {
		height: 60px;
		margin: 5px 0;
	}
}

